<table>
	<thead>
		<th>Buy Exchange</th>
		<th>Sell Exchange</th>
		<th>Pair</th>
		<th>Quantity</th>
		<th>Highest Bid</th>
		<th>Lowest Ask</th>
		<th>Profit</th>
	</thead>
	<tbody>
		<% @arbitrage.each do |pair| %>
			<tr>
				<td><%= pair.buy_exchange.name.capitalize %></td>
				<td><%= pair.sell_exchange.name.capitalize %></td>
				<td><%= pair.primary %>/<%= pair.secondary %></td>
				<td><%= pair.quantity.round(8) %></td>
				<td><%= pair.highest_bid.round(8) %></td>
				<td><%= pair.lowest_ask.round(8) %></td>
				<td><%= pair.profit.round(8) %> <%= pair.secondary %></td>
			</tr>
		<% end %>
	</tbody>
</table>