<script>
	$(document).ready(function(){
  	$("#pairs").tablesorter({cssAsc: "headerSortUp", cssDesc: "headerSortDown", cssHeader: "header"});
  })
</script>

<h1>Arbitrage Opportunities</h1>
<div class="table-responsive">
<table id="pairs" class="table table-striped table-hover">
	<thead>
		<th>Buy Exchange</th>
		<th>Sell Exchange</th>
		<th>Pair</th>
		<th>Quantity</th>
		<th>Highest Bid</th>
		<th>Lowest Ask</th>
		<th>Profit</th>
	</thead>
	<tbody>
		<% @arbitrage.each do |pair| %>
			<tr>
				<td><%= pair.buy_exchange.capitalize %></td>
				<td><%= pair.sell_exchange.capitalize %></td>
				<td><%= pair.primary %>/<%= pair.secondary %></td>
				<td><%= pair.quantity %></td>
				<td><%= pair.highest_bid %></td>
				<td><%= pair.lowest_ask %></td>
				<td><%= pair.profit %> <%= pair.secondary %></td>
			</tr>
		<% end %>
	</tbody>
</table>
</div>