<div class = "content-wrapper">
<div class = "arbitrage">
<h1>Arbitrage Opportunities</h1>
<div class="table-responsive">
<table id="pairs" class="table table-striped table-hover">
	<thead>
		<th>Buy Exchange</th>
		<th>Sell Exchange</th>
		<th>Pair</th>
		<th>Quantity</th>
		<th>Highest Bid</th>
		<th>Lowest Ask</th>
		<th>Profit</th>
	</thead>
	<tbody>
		<% @arbitrage.each do |pair| %>
			<tr>
				<td><%= pair.buy_exchange.capitalize %></td>
				<td><%= pair.sell_exchange.capitalize %></td>
				<td><%= pair.primary %>/<%= pair.secondary %></td>
				<td><%= pair.quantity %></td>
				<td><%= pair.highest_bid %></td>
				<td><%= pair.lowest_ask %></td>
				<td><%= pair.profit %> <%= pair.secondary %></td>
			</tr>
		<% end %>
	</tbody>
</table>
</div>
</div>

<div class="content">
<h1>Cryptsy Resistance Levels</h1>

<p class="progress" id="progress">Initializing...</p>
<div class="progress progress-striped active">
  <div class="progress-bar"  role="progressbar" style="width: 0%">
    <span class="sr-only">45% Complete</span>
  </div>
</div>

<p id="last-update">Last updated: <%= @updated_at %></p>
<p id = "sort-text">Click on column heads to sort</p>

<div class = "table-scroll">
<div class = "table-responsive">
<table id = "pairs" class = "table table-striped table-hover">
	<thead>
		<tr>
			<th>Coin</th>
			<th>Pair</th>	
			<th>Estimated BTC Volume</th>
			<th>Last Trade</th>
			<th>BTC to 100%</th>
			<th>BTC to 125%</th>
			<th>BTC to 150%</th>
			<th>BTC to 200%</th>
		</tr>
	</thead>
	<tbody id="resistance-tbody">
	</tbody>
</table>
</div>
</div>
</div>
</div>