<div class = "content-wrapper">
<div class = "arbitrage">
<h1>Arbitrage Opportunities</h1>
<p>Last updated: <%= @updated_at %></p>
<p>Click on column heads to sort</p>
<div class="table-responsive">
<table id="arbitrage-pairs" class="table table-striped table-hover">
	<thead>
		<th>Buy Exchange</th>
		<th>Sell Exchange</th>
		<th>Pair</th>
		<th>Quantity</th>
		<th>Highest Bid</th>
		<th>Lowest Ask</th>
		<th>Profit</th>
	</thead>
	<tbody>
		<% @arbitrage.each do |pair| %>
			<tr>
				<td><%= pair.buy_exchange.capitalize %></td>
				<td><%= pair.sell_exchange.capitalize %></td>
				<td><%= pair.primary %>/<%= pair.secondary %></td>
				<td><%= pair.quantity %></td>
				<td><%= pair.highest_bid %></td>
				<td><%= pair.lowest_ask %></td>
				<td><%= pair.profit %> <%= pair.secondary %></td>
			</tr>
		<% end %>
	</tbody>
</table>
</div>
</div>

<div class = "row">
<div class="span4">
<div class="content">
<h1>Cryptsy Resistance Levels</h1>

<div id="graph-div">
</div>


<p id="last-update">Last updated: <%= @updated_at %></p>
<p id = "sort-text">Click on column heads to sort</p>


<div class = "table-scroll">
<div class = "table-responsive">
<table id = "pairs" class = "table table-striped table-hover">
	<thead>
		<tr>
			<th>Coin</th>
			<th>Pair</th>	
			<th>Estimated BTC Volume</th>
			<th>Last Trade</th>
			<th>BTC to 50%</th>
			<th>BTC to 100%</th>
			<th>BTC to 125%</th>
			<th>BTC to 150%</th>
			<th>BTC to 200%</th>
		</tr>
	</thead>
	<tbody id="resistance-tbody">
	</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>



<a class="twitter-timeline" href="https://twitter.com/search?q=%23cryptsy" data-widget-id="441123702327881728" data-chrome="nofooter transparent"  >Tweets about "#cryptsy"</a>


<a class="twitter-timeline" href="https://twitter.com/dyep49/pump-organizers" data-widget-id="441125817804812288">Tweets from https://twitter.com/dyep49/pump-organizers</a>



<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>